.wrapper {
  position: relative;
  font-size: var(--ck-message--font-size);
  padding: var(--ck-message--padding);
  color: var(--ck-message--color);
  box-shadow: var(--ck-message--box-shadow);
  max-width: 65%;
  border-radius: var(--ck-message--border-radius);

  :global(.message-out) & {
    background: var(--ck-message--out-background);
  }

  :global(.message-in) & {
    background: var(--ck-message--in-background);
  }

  :global(.is-sticker) & {
    background: none;
  }
}