.wrapper {
  width: 100%;
  display: flex;
  font-size: var(--ck-font-size-2);

  &:global(.message-out) {
    justify-content: flex-end;
  }

  &:global(.message-in) {
    justify-content: flex-start;
  }
}