@use "@/styles/units" as u;

.wrapper {
  color: var(--ck-message-meta--color);
  font-size: u.rem(14px);
  line-height: var(--ck-message-meta--font-size);
  margin: u.em(-4px) 0;
}

.received {
  color: var(--ck-message-status--color-received);
}

.error {
  color: var(--ck-message-status--color-error);
}